@model LoginViewModel
@{
    ViewData["Title"] = "Giriş";
}

<div class="row">
    <i class="fa-regular fa-user display-4 text-center pb-2"></i>
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-4">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            @*aşağıdaki hataların dışındıakileri göster ---> ModelOnly*@
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
            <div class="form-group mb-2" >
                <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
                <input asp-for="Username" class="form-control" placeholder="kullanıcı adınız"/>
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Password" class="form-label" >Şifre</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Şifeniz" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="form-group mb-2 d-grid">
                <button type="submit" class="btn btn-outline-primary d-block"><i class="fa-solid fa-right-to-bracket me-2"></i>Giriş</button>
            </div>
        </form>
    </div>
</div>